html {
    overflow: hidden;
    height: 100%;
    background: #191919;
    width: 100%;
}

#canvas {
    background-image: url('../images/stage.jpg');
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: 100;
    background-size: cover;
}

#canvas.playing {
    cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/aim_red.png') 17.5 17.5,auto !important;
}

.full-screen {
    position: fixed;
    width: 35px;
    height: 35px;
    background: #231557 no-repeat;
    z-index: 10;
    display: block;
    right: 10px;
    bottom: 10px;
}