@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Bangers');


body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#launch-screen-title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 4em;
    margin: 0 0 0.4em 0;
    padding-top: 20vh;
    font-weight: 500;
}

#loading {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

#background {
    position: absolute;
    background: black;
    z-index: -40;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
#waves {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.5);
    cursor: pointer;
  }

#a {
    position: absolute;
    top: 29vh;
    left: -14vw;
    transform: rotate(-90deg);
    width: 100vh;
    height: 20vw;
    animation: comeDown 3s 3s 1 both;
}

#b {
    position: absolute;
    bottom: 0vh;
    left: 6vw;
    transform: rotate(-90deg);
    width: 100vh;
    height: 20vw;
    animation: comeUp 3s 3s 1 both;
}

#c {
    position: absolute;
    top: 29vh;
    left: 28vw;
    transform: rotate(-90deg);
    width: 100vh;
    height: 20vw;
    animation: comeDown 3s 3s 1 both;
}

#d {
    position: absolute;
    bottom: 0vh;
    left: 49vw;
    transform: rotate(-90deg);
    width: 100vh;
    height: 20vw;
    animation: comeUp 3s 3s 1 both;
}

#e {
    position: absolute;
    top: 29vh;
    left: 66vw;
    transform: rotate(-90deg);
    width: 100vh;
    height: 20vw;
    animation: comeDown 3s 3s 1 both;
}

@keyframes comeDown {
    0% {
        top: -29vh;
    }
    100% {
        top: 29vh;
    }
}

@keyframes comeUp {
    0% {
        bottom: -29vh;
    }
    100% {
        bottom: 29vh;
    }
}
  
#mainpage { 
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#chapter-button {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 2px; 
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    width: 10vw;
    margin: -2vh auto;
    height: 8vh;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}

#chapter-button:hover {
    background-color: black;
    border-radius: 2px;
    color: white;
    border: 1px solid white;
}

#canvas {
    display: block;
    position: absolute;
    z-index: 0;
    background: transparent;
}

#warning-message {
    display: none;
    background-color: rgb(50,50,50);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
}

#warning-message img {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

a {
  text-decoration: none;
  text-underline-position: unset;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(50,50,50);
    /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);  */
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    /* -webkit-box-shadow: 0 0 5px #d50000, 0 0 6px #d50000, 0 0 7px #d50000, 0 0 8px #d50000, 0 0 9px #d50000, 0 0 10px #d50000, 0 0 12px #d50000;           */

}

#homepage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    /* background: url('../images/avengers3.jpg'); */
    background-size: cover;
    background-position: center;
}

#fest {
    position: absolute;
    top: 2vh;
    left: 2vw;
}

#fest img {
    width: 6vw;
    height: 6vw;
}

#heading {
    width: 70vw;
    height: 50vh;
    position: absolute;
    left: 15vw;
    top: 25vh;
    background-color: transparent;
    animation: lastGlow 1s 7s 1 forwards;
}

div.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  div.loader p {
    margin: 1em 0 0 0;
    font-size: 16px;
  }
  
  div.logo {
    box-sizing: border-box;
    position: relative;
    background-color: white;
  }
  div.logo::before, div.logo::after {
    z-index: 1;
    box-sizing: border-box;
    content: '';
    position: absolute;
    border: 4px solid transparent;
    width: 0;
    height: 0;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  div.logo::before {
    top: 0;
    left: 0;
    animation: border-before 3s 1;
    animation-delay: 4.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  div.logo::after {
    bottom: 0;
    right: 0;
    animation: border-after 3s 1;
    animation-delay: 4.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  @keyframes lastGlow {
      0% {
          box-shadow: none;
      }
      100% {
          border: #ffeb3b;
          box-shadow: inset 0 0 5px #ffeb3b,inset 0 0 6px #ffeb3b,inset 0 0 7px #ffeb3b,inset 0 0 8px #ffeb3b,inset 0 0 9px #ffeb3b,inset 0 0 10px #ffeb3b,inset 0 0 12px #ffeb3b,0 0 5px #ffeb3b, 0 0 6px #ffeb3b, 0 0 7px #ffeb3b, 0 0 8px #ffeb3b, 0 0 9px #ffeb3b, 0 0 10px #ffeb3b, 0 0 12px #ffeb3b;          
      }
  }
  
  @keyframes border-before {
    0% {
      width: 0;
      height: 0;
      border-top-color: white;
      border-right-color: transparent;
    }
    24.99% {
      border-right-color: transparent;
    }
    25% {
      height: 0;
      width: 100%;
      border-top-color: white;
      border-right-color: white;
    }
    50%,
    100% {
      width: 100%;
      height: 100%;
      border-top-color: white;
      border-right-color: white;
      /* box-shadow: inset 0 0 5px #fff,inset 0 0 6px #fff,inset 0 0 7px #ffeb3b,inset 0 0 8px #ffeb3b,inset 0 0 9px #ffeb3b,inset 0 0 10px #ffeb3b,inset 0 0 12px #ffeb3b,0 0 5px #fff, 0 0 6px #fff, 0 0 7px #ffeb3b, 0 0 8px #ffeb3b, 0 0 9px #ffeb3b, 0 0 10px #ffeb3b, 0 0 12px #ffeb3b; */
    }
  }
  @keyframes border-after {
    0%,
    49.99% {
      width: 0;
      height: 0;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
    50% {
      width: 0;
      height: 0;
      border-left-color: transparent;
      border-bottom-color: white;
    }
    74.99% {
      border-left-color: transparent;
      border-bottom-color: white;
    }
    75% {
      height: 0;
      width: 100%;
      border-left-color: white;
      border-bottom-color: white;
    }
    100% {
      width: 100%;
      height: 100%;
      border-left-color: white;
      border-bottom-color: white;  
    }
  }

#event_name {
    margin: 10vh auto 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    /* padding: 0 20px; */
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d50000, 0 0 30px #d50000, 0 0 40px #d50000, 0 0 55px #d50000, 0 0 75px #d50000;
    animation: fillIn 1s 6.5s ease-in-out 1 forwards;
}

@keyframes fillIn {
    from {
        color: white;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d50000, 0 0 30px #d50000, 0 0 40px #d50000, 0 0 55px #d50000, 0 0 75px #d50000;
    }
    to {
        color: #f44336;
        text-shadow: 0 0 5px #f44336, 0 0 10px #f44336, 0 0 20px #d50000, 0 0 30px #d50000, 0 0 40px #d50000, 0 0 55px #d50000, 0 0 75px #d50000;  
    }
}

#descrip {
    margin-top: 34vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#fest_name {
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    padding-right: 10px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4caf50, 0 0 30px #4caf50, 0 0 40px #4caf50, 0 0 55px #4caf50, 0 0 75px #4caf50;
    animation: fillIn1 1s 6.5s ease-in-out 1 forwards;
}

#event_by {
    font-size: 3vw;
    color: white;
    padding-left: 10px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
    animation: fillIn2 1s 6.5s ease-in-out 1 forwards;
}

#event_by span {
    color: #f44336;
    text-shadow: 0 0 5px #f44336, 0 0 10px #f44336, 0 0 20px #d50000, 0 0 30px #d50000, 0 0 40px #d50000, 0 0 55px #d50000, 0 0 75px #d50000;   
}

@keyframes fillIn1 {
    from {
        color: white;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4caf50, 0 0 30px #4caf50, 0 0 40px #4caf50, 0 0 55px #4caf50, 0 0 75px #4caf50;
    }
    to {
        color: #4caf50;
        text-shadow: 0 0 5px #4caf50, 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50, 0 0 40px #4caf50, 0 0 55px #4caf50, 0 0 75px #4caf50;
    }
}

@keyframes fillIn2 {
    from {
        color: white;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
    }
    to {
        color: #4dd0e1;
        text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
    }
}

#club {
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

#play_btn {
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    cursor: pointer;
    /* border: #4dd0e1; */
    /* box-shadow: inset 0 0 5px #4dd0e1,inset 0 0 6px #4dd0e1,inset 0 0 7px #4dd0e1,inset 0 0 8px #4dd0e1,inset 0 0 9px #4dd0e1,inset 0 0 10px #4dd0e1,inset 0 0 12px #4dd0e1,0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1;           */
}

#play_btn a {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    transition: 0.25s ease-in-out;
    font-family: 'Bangers', cursive;
    text-shadow: 0 0 2px #4dd0e1, 0 0 2px #4dd0e1, 0 0 2px #4dd0e1, 0 0 4px #4dd0e1, 0 0 5px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1;
}

#play_btn a:after {
    display:block;
    content: '';
    border-bottom: solid 1px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#play_btn a:hover:after {  
    transform: scaleX(1);  
}

#play_btn a:after {  
    transform-origin:  0% 50%; 
    box-shadow: inset 0 0 5px #4dd0e1,inset 0 0 6px #4dd0e1,inset 0 0 7px #4dd0e1,inset 0 0 8px #4dd0e1,inset 0 0 9px #4dd0e1,inset 0 0 10px #4dd0e1,inset 0 0 12px #4dd0e1,0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1;
}

#play_btn a:hover {
    color: white;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #4dd0e1, 0 0 10px #4dd0e1, 0 0 15px #4dd0e1, 0 0 15px #4dd0e1, 0 0 20px #4dd0e1;
}






/* -----------------------------------------------  ROUND 1  ------------------------------------------- */






.top_nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 12vh;
    box-sizing: border-box;
    /* border-bottom: 1px solid #4dd0e1; */
    /* box-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1; */
}

#fest_icon2 img {
    width: 5vw;
    height: 4vw;
    cursor: pointer;
    padding-left: 1vw;
} 

#fest_icon img {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    padding-left: 1vw;
}

.round_name {
    position: relative;
    font-family: 'Raleway', sans-serif;
    left: 43%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3vw;
    color: #4dd0e1;
    text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
}

#ch2 {
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
}

#ch4 {
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
}

.score1 {
    color: white;
    position: absolute;
    right : 25vw;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
}

.fetching {
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 25px white, 0 0 15px white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.score2 {
    color: white;
    position: absolute;
    right : 13vw;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
}

#y_score, #t_score {
    margin-left: 1vw;
    padding: 4px;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 25px white, 0 0 15px white;
}

#instructions_btn img {
    position: absolute;
    right: 2vw;
    top: 1vh;
    cursor: help;
    width: 4vw;
    height: 4vw;
    transition: 0.3s ease-in-out;
}

#instructions_btn img:hover {
    box-shadow: inset 0 0 5px #fff,inset 0 0 6px #fff,inset 0 0 7px #ffeb3b,inset 0 0 8px #ffeb3b,inset 0 0 9px #ffeb3b,inset 0 0 10px #ffeb3b,inset 0 0 12px #ffeb3b,0 0 5px #fff, 0 0 6px #fff, 0 0 7px #ffeb3b, 0 0 8px #ffeb3b, 0 0 9px #ffeb3b, 0 0 10px #ffeb3b, 0 0 12px #ffeb3b;
}

.status {
    font-size: 2vw;
    text-align: center;
    color: white;
    height: 88vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 12vh;
    display: none;
}

.container {
    background-color: #000019;
    height: 88vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 12vh;
    z-index: -100;
}

.instructions {
    display: block;
    position: absolute;
    top: 15vh;
    font-family: 'Raleway', sans-serif;
    left: 10vw;
    width: 80vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.95);
    border: 1px solid white;
    transition: 0.5s ease-in-out;
    transform: scale(0);
    overflow-y: auto;
    padding: 0 10px;
    z-index: 110;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 25px white, 0 0 15px white;
}

#close_btn {
    width: 2vw;
    height: 2vw;
    position: sticky;
    left: 99vw;
    top: 1vw;
    cursor: pointer;
}

.heading {
    margin-top: 0;
    text-align: center;
    font-size: 4vw;
    color: #f44336;
    text-shadow: 0 0 5px #f44336, 0 0 10px #f44336, 0 0 20px #d50000, 0 0 30px #d50000, 0 0 40px #d50000, 0 0 55px #d50000, 0 0 75px #d50000;   
}

.round_instruct {
    color: #4dd0e1;
    font-size: 2.5vw;
    text-align: left;
    text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
}

.round_descrip {
    font-size: 20px;
    color: white;
    text-align: left;
}

.bold {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.grp {
    margin: 6vh 10vw;
    padding: 1vh 2vh 3vh; 
    color: white;
    transition: 0.3s ease-in-out;
    width: 80vw;
    border-bottom: 1px solid whitesmoke;
}

form > :nth-child(even) {
    /* background-color: #304ffe; */
    /* box-shadow: 0 0 5px #304ffe, 0 0 6px #304ffe, 0 0 7px #304ffe, 0 0 8px #304ffe, 0 0 9px #304ffe, 0 0 10px #304ffe, 0 0 12px #304ffe; */

}

form > :nth-child(odd) {
    /* background-color: white; */
    /* box-shadow: 0 0 5px white, 0 0 6px white, 0 0 7px white, 0 0 8px white, 0 0 9px white, 0 0 10px white, 0 0 12px white; */

}

form > :first-child {
    background-color: transparent;
    box-shadow: none;
}

/* .grp {
    margin: 6vh 10vw;
    padding: 1vh 2vh 3vh; 
    width: 80vw;
    color: white;
    border-bottom: 1px solid whitesmoke;
    transition: 0.3s ease-in-out;
} */

.grp:hover {
    /* background-color: #000019; */
    /* color: white; */
    /* box-shadow: 0 0 5px #4caf50, 0 0 6px #4caf50, 0 0 7px #4caf50, 0 0 8px #4caf50, 0 0 9px #4caf50, 0 0 10px #4caf50, 0 0 12px #4caf50; */
}

/* form > :nth-child(even) { */
    /* background-color: #000019;
    color: white;
    box-shadow: 0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1; */
    /* background-color: #000019;
    color: white;
    box-shadow: 0 0 5px #4caf50, 0 0 6px #4caf50, 0 0 7px #4caf50, 0 0 8px #4caf50, 0 0 9px #4caf50, 0 0 10px #4caf50, 0 0 12px #4caf50;
} */

/* form > :nth-child(odd) {
    background-color: #000019;
    color: white;
    box-shadow: 0 0 5px #3f51b5, 0 0 6px #d50000, 0 0 7px #d50000, 0 0 8px #d50000, 0 0 9px #d50000, 0 0 10px #d50000, 0 0 12px #d50000;

}

form > :first-child {
    background-color: transparent;
    box-shadow: none;
}

form > :first-child:hover {
    background-color: transparent;
    box-shadow: none;
} */

.labels {
    font-size: 2vw;
    padding-right: 5vw;
}
    
.nameDiv p {
    font-size: 2vw;
}
/* .nameDiv input {
    font-family: 'Raleway', sans-serif;
    padding-left: 1vw;
    height: 7vh;
    font-size: 1.3vw;
    box-sizing: border-box;
    width: 25vw;
}

.nameDiv input:focus {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1;
} */

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.radio {
    float: left;
    width: 40%;
    font-size: 1.5vw;
    position: relative;
}

.radio input {
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
    padding-right: 10px;
}

#submit_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4dd0e1;
    width: 12vw;
    height: 7vh;
    border-radius: 5px;
    color: white;
    margin-bottom: 3vh;
    font-size: 2vw;
    display: flex;
    cursor: pointer;
    padding: 1vh;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

#submit_btn:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1; 
    text-shadow: 0 0 5px #4dd0e1, 0 0 8px #4dd0e1, 0 0 10px #4dd0e1, 0 0 15px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1;
}




/* ----------------------------------------- PACMAN ---------------------------------------------------- */

#pacman {
    width: 30vw;
    border-radius: 5px;
    position: relative;
    margin: 7vh auto 0;
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    box-shadow: 0 0 5px #4dd0e1, 0 0 6px #4dd0e1, 0 0 7px #4dd0e1, 0 0 8px #4dd0e1, 0 0 9px #4dd0e1, 0 0 10px #4dd0e1, 0 0 12px #4dd0e1; 

}

#Score {
    background-color: white;
    width: 10vw;
    height: 10vh;
    top: 50vh;
    left: 60vw;
    position: absolute;
    transform: scale(0);
}

#stats {
    width: 30vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 5px #4dd0e1, 0 0 6px white, 0 0 7px white, 0 0 8px white, 0 0 9px white, 0 0 10px white, 0 0 12px white; 
    margin: 10vh auto 0;
    text-align: center;
    font-size: 2vw;
    position: relative;
    color: white;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    z-index: 60;
    padding: 2vh;
}

@media only screen and (max-width: 800px) {
    #mobile {
        display: block;
        background-color: rgba(0, 0, 0, 0.98);
        color: white;
        font-size: 2vw;
        z-index: 300;
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100vw;
    }
}

/* -------------------------------------------SHOOT ----------------------------------------- */

#shoot {
    display: none;
}


/*--------------------------------------------- SIDENAV --------------------------------------- */

#sidenav {
    display: table;
}

#sidenav_bg1 {
    position: absolute;
    top: -10vw;
    left: -25vw;
    width: 35vw;
    height: 130vh;
    background-color: black;
    display: table;
    transform: rotateY(90deg);
    transition-delay: 0.2s;
    z-index: -30;
    transition: transform 0.5s ease-in-out, position 0.5s ease-in-out;
}

#sidenav_bg2 {
    position: absolute;
    bottom: -10vw;
    left: -10vw;
    width: 30vw;
    height: 130vh;
    background-color: whitesmoke;
    /* box-shadow: inset 0 0 5px #fff,inset 0 0 6px #fff,inset 0 0 7px #fff,inset 0 0 8px #fff,inset 0 0 9px #fff,inset 0 0 10px #fff,inset 0 0 12px #fff,0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #fff, 0 0 9px #fff, 0 0 10px #fff, 0 0 12px #fff;           */
    opacity: 0.7;
    display: table;
    transform: rotateY(90deg);
    z-index: -20;
    transition:  transform 0.5s ease-in-out, position 0.5s ease-in-out;
}

#sidenav_content {
    position: absolute;
    top: 0;
    left: -20vw;
    width: 30vw;
    height: 100vh;
    display: table;
    z-index: -40;
    transition-duration: 0.8s ease-in-out;
    transition-delay: 0.4s;
}

#list {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    padding-left: 2.5vw;
    width: 80%;
}

#list li {
    font-size: 2.4vw;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    text-decoration: none;
    color: beige;
    padding: 1vh;
    width: 11vw;
    margin: 5vh 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s ease-in-out;
    transition-delay: 0s;
}

#wrapper {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#list li:hover {
    color: #4dd0e1;
    text-shadow: 0 0 5px #4dd0e1, 0 0 10px #4dd0e1, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;

}

#close, .closed {
    background-color: white;
    top: 0.5vw;
    left: 24.5vw;
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
    color: white;
    filter: opacity(0);
    display: block;
    z-index: 2200;
}

#close_div, #close_div2 {
    background-color: black;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

#list {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    padding-left: 2.5vw;
}

/* -------------------------------------------- MEDIA QUERIES ----------------------------------- */

@media only screen and (orientation:portrait){
  #wrapper { display:none; }
  #warning-message { display:block; }
}

@media only screen and (orientation:landscape){
  #warning-message { display:none; }
  #wrapper { display:block; }
}